#about
    padding: 90px 0
    h1
        font-size: 55px
        font-weight: 700
    h4
        font-size: 20px
        color: #747597
        margin: 20px 0 70px
    .box
        display: flex
        justify-content: center
        .textbox
            width: 420px
            h2
                font-size: 28px
                font-weight: 700
            h3
                font-size: 28px
                font-weight: 700
                margin: 10px 0
            p
                font-size: 19px
                line-height: 1.4
                color: #747597
        .txt
            text-align: end
        .minibox
            width: 420px
            height: 120px
        .imgbox
            border: 7px solid #e9ecef
            border-radius: 50%
            width: 150px
            height: 150px
            margin: 0 50px
        .story
            border: 7px solid #e9ecef
            border-radius: 50%
            background-color: #ffc700
        .part
            width: 80px
        h5
            color: #ffff
            font-size: 22px
            font-weight: 700
            line-height: 1.4

    @media screen and ( max-width: 1200px )
        .box
            .imgbox
                width: 180px
                height: 150px

    @media screen and ( max-width: 1000px )
        .none
            display: none
        .left
            flex-direction: row-reverse
        .box
            .txt
                text-align: start

    @media screen and ( max-width: 760px )
        .box
            .imgbox
                width: 150px
                height: 80px
                margin: 0 25px
                h5
                    font-size: 15px

    @media screen and ( max-width: 360px )
        .box
            height: 250px
            .imgbox
                width: 200px
                height: 60px 
