#about
    padding: 90px 0
    h1
        font-size: 55px
        font-weight: 700
    h4
        font-size: 20px
        color: #747597
        margin: 30px 0
    .box
        .textbox
            width: 420px
            h2
                font-size: 28px
                font-weight: 700
            h3
                font-size: 28px
                font-weight: 700
                margin: 13px 0
            p
                font-size: 19px
                line-height: 1.6
                color: #747597

        .imgbox
            border: 7px solid #e9ecef
            border-radius: 50%
            width: 170px
            overflow: hidden
            // position: absolute
            // right: 43%
            // top: 0
        img
            width: 100%
        // .top
        //     top: 15%
        .story
            border: 7px solid #e9ecef
            border-radius: 50%
            background-color: #ffc700
            width: 170px
            height: 170px
            // position: absolute
            // right: 43%

        .minibox
            width: 80px
        h5
            color: #ffff
            font-size: 22px
            font-weight: 700
            line-height: 1.4
