#contact
    padding: 70px 0
    background-image: url("assets/map-image.png")
    background-color: #212529
    background-position: center
    background-size: cover
    h1
        font-size: 55px
        font-weight: 700
        color: #ffff
    h4
        font-size: 20px
        color: #6c757d
        margin: 30px 0 70px
    .minibox
        height: 70px
        background-color: #ffff
        margin-bottom: 30px
        border-radius: 7px
        padding: 10px 0
    input
        border-radius: 7px
        font-size: 19px
        font-weight: 600
        opacity: 0.4
    .box
        background-color: #ffff
        border-radius: 7px
        textarea
            border-radius: 7px
            font-size: 19px 
            font-weight: 600
            opacity: 0.3
            border: none
            padding: 15px 
    .btn
        color: #ffff
        background-color: #ffc700
        font-size: 20px
        font-weight: 700
        border-radius: 5px
        padding: 20px 48px
        margin-top: 30px
        opacity: 0.7
