header
    padding: 25px 0
    background-color: #1d1c1c
    position: fixed
    width: 100%
    z-index: 3
    .menu
        h2
            font-size: 23px
            color: #ffc700
        nav
            a
                font-size: 18px
                color: #ffff
                margin-right: 30px
