#services
    padding: 60px 0
    h1
        font-size: 50px
        font-weight: 700
    h4
        font-size: 20px
        color: #969494
        margin: 20px 0
    .box
        margin: 50px 0
        .icon
            font-size: 65px
            padding: 25px 20px
            color: #ffff
            background-color: #ffc700
            width: 120px
            height: 120px
            border-radius: 50%
        h2
            font-size: 30px
            font-weight: 700
            margin: 25px 0
        p
            font-size: 19px
            color: #837c7c
            line-height: 1.4
