body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

header {
  padding: 20px 0;
  background-color: #212529;
  position: fixed;
  width: 100%;
  z-index: 1;
}
header .box .imgbox {
  width: 170px;
}
header .box .menu {
  color: white;
  font-size: 20px;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
}
header .box h2 {
  margin-right: 10px;
}
header .box nav a {
  font-size: 18px;
  color: white;
  margin-right: 30px;
  transition: 1s;
}
header .box nav a:hover {
  color: #ffc700;
}
@media screen and (min-width: 1000px) {
  header .menu {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  header nav {
    display: none;
  }
  header .menu {
    display: flex;
  }
}

#welcome {
  padding: 50px 0;
  background-image: url("assets/header-bg.jpg");
  height: 800px;
  background-position: center center;
  background-size: cover;
  position: relative;
}
#welcome .textbox {
  position: absolute;
  top: 35%;
}
#welcome .textbox h1 {
  font-size: 85px;
  color: white;
  font-weight: 700;
  margin: 25px 0 55px;
}
#welcome .textbox h2 {
  font-size: 40px;
  color: white;
}
#welcome .textbox .btn {
  color: white;
  background-color: #ffc700;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  padding: 20px 45px;
}
@media screen and (max-width: 1000px) {
  #welcome .textbox h1 {
    font-size: 65px;
  }
  #welcome .textbox h2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 700px) {
  #welcome .textbox h1 {
    font-size: 45px;
  }
  #welcome .textbox h2 {
    font-size: 25px;
  }
}
@media screen and (max-width: 480px) {
  #welcome .textbox h1 {
    font-size: 35px;
  }
  #welcome .textbox h2 {
    font-size: 20px;
  }
  #welcome .textbox .btn {
    padding: 15px 25px;
  }
}

#services {
  padding: 80px 0;
}
#services h1 {
  font-size: 50px;
  font-weight: 700;
}
#services h4 {
  font-size: 20px;
  color: #747597;
  margin-top: 20px;
}
#services .box {
  margin: 35px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#services .box .icon {
  font-size: 65px;
  padding: 30px 0;
  color: white;
  background-color: #ffc700;
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
#services .box h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 25px 0;
}
#services .box p {
  font-size: 19px;
  color: #747597;
  line-height: 1.4;
}
@media screen and (max-width: 1000px) {
  #services .box .icon {
    font-size: 45px;
    width: 85px;
    height: 85px;
    padding: 20px 0;
  }
}
@media screen and (max-width: 530px) {
  #services .box .icon {
    font-size: 35px;
    width: 75px;
    height: 75px;
    padding: 20px 0;
  }
}

#portfolio {
  padding: 80px 0;
  background-color: #f8f9fa;
}
#portfolio h1 {
  font-size: 47px;
  font-weight: 700;
}
#portfolio h4 {
  font-size: 19px;
  color: #747597;
  margin: 25px 0 60px;
}
#portfolio .box {
  margin: 10px 0;
}
#portfolio .box .textbox {
  padding: 25px 0;
  background-color: white;
  width: 415px;
}
#portfolio .box h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}
#portfolio .box h5 {
  font-size: 19px;
  color: #747597;
}
#portfolio .box .imgbox {
  position: relative;
}
#portfolio .box .imgbox img {
  width: 415px;
}
#portfolio .box .imgbox .btn {
  font-size: 60px;
  border-radius: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
#portfolio .box .imgbox .btn:hover {
  background-color: #ffc700;
  color: white;
  opacity: 0.9;
}
#portfolio .box .imgbox .btn .icon i:hover {
  cursor: pointer;
}
@media screen and (max-width: 1400px) {
  #portfolio .box .imgbox img {
    width: 250px;
  }
  #portfolio .box .textbox {
    padding: 10px 0;
    width: 250px;
  }
  #portfolio .box .textbox h2 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  #portfolio .box .textbox h5 {
    font-size: 15px;
  }
}

#about {
  padding: 90px 0;
  position: relative;
}
#about h1 {
  font-size: 55px;
  font-weight: 700;
}
#about h4 {
  font-size: 20px;
  color: #747597;
  margin: 20px 0 70px;
}
#about .box .textbox {
  width: 420px;
}
#about .box .textbox h2 {
  font-size: 28px;
  font-weight: 700;
}
#about .box .textbox h3 {
  font-size: 28px;
  font-weight: 700;
  margin: 10px 0;
}
#about .box .textbox p {
  font-size: 19px;
  line-height: 1.4;
  color: #747597;
}
#about .box img {
  width: 100%;
}
#about .box .imgbox {
  border: 7px solid #e9ecef;
  border-radius: 50%;
  width: 170px;
  height: 170px;
  overflow: hidden;
  margin: 0 50px;
}
#about .box .minibox {
  width: 420px;
  height: 120px;
}
#about .box .line {
  border: 1px solid #e9ecef;
  width: 0;
  height: 600px;
  position: absolute;
  top: 22%;
  z-index: -1;
}
#about .box .line2 {
  border: 1px solid #e9ecef;
  width: 0;
  height: 600px;
  position: absolute;
  top: 55%;
  z-index: -1;
}
#about .box .story {
  border: 7px solid #e9ecef;
  border-radius: 50%;
  background-color: #ffc700;
  width: 170px;
  height: 170px;
}
#about .box .part {
  width: 80px;
}
#about .box h5 {
  color: white;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.4;
}

#team {
  padding: 90px 0;
  background-color: #f8f9fa;
}
#team h1 {
  font-size: 50px;
  font-weight: 700;
}
#team h4 {
  font-size: 20px;
  color: #747597;
  margin: 25px 0;
}
#team .imgbox {
  border: 8px solid #dfe0e1;
  border-radius: 50%;
  width: 230px;
  overflow: hidden;
}
#team .imgbox img {
  width: 100%;
}
#team .box {
  margin: 30px 0;
}
#team .box h2 {
  font-size: 28px;
  font-weight: 700;
  margin: 25px 0 10px;
}
#team .box h5 {
  font-size: 20px;
  color: #747597;
}
#team .box ul {
  display: flex;
  justify-content: center;
}
#team .box .icon i {
  font-size: 16px;
  padding: 10px;
  color: white;
  background-color: #101010;
  border-radius: 50%;
  margin: 20px 10px;
  width: 40px;
  transition: 0.5s;
}
#team .box .icon i:hover {
  opacity: 0.7;
  cursor: pointer;
}
#team .minibox {
  width: 900px;
}
#team .minibox p {
  font-size: 19px;
  color: #747597;
  line-height: 1.6;
}

#microsoft {
  padding: 60px 0;
}
#microsoft .imgbox {
  width: 200px;
}
#microsoft .ggl {
  width: 120px;
}
#microsoft .fcb {
  width: 160px;
}
#microsoft .ibm {
  width: 110px;
}

#contact {
  padding: 70px 0;
  background-image: url("assets/map-image.png");
  background-color: #212529;
  height: 750px;
  background-position: center;
  background-size: cover;
}
#contact h1 {
  font-size: 55px;
  font-weight: 700;
  color: white;
}
#contact h4 {
  font-size: 20px;
  color: #6c757d;
  margin: 30px 0 70px;
}
#contact .minibox {
  height: 70px;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 7px;
}
#contact input {
  background-color: white;
  border-radius: 7px;
  width: 630px;
  height: 70px;
  margin-bottom: 20px;
  font-size: 19px;
  font-weight: 600;
  opacity: 0.4;
}
#contact .box {
  height: 250px;
  background-color: white;
  border-radius: 7px;
  width: 630px;
}
#contact .box input {
  height: 250px;
  margin-bottom: 0;
}
#contact .btn {
  color: white;
  background-color: #ffc700;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  padding: 20px 48px;
  margin-top: 30px;
  opacity: 0.7;
}

footer {
  padding: 20px 0;
}
footer h3, footer h4 {
  font-size: 17px;
  color: #6c757d;
}
footer h4 {
  margin-left: 25px;
}
footer .icon i {
  font-size: 12px;
  margin: 5px 5px 3px;
}
footer ul {
  display: flex;
  justify-content: center;
}
footer ul .icon i {
  font-size: 16px;
  padding: 10px 14px;
  color: white;
  background-color: #212529;
  border-radius: 50%;
  margin-right: 15px;
  width: 40px;
  transition: 0.5s;
}
footer ul .icon i:hover {
  opacity: 0.7;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */